.contact-about-area {
  background: linear-gradient(145deg, #e2e8ec, #ffffff) !important;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff !important;
  padding: 30px;
  border-radius: 10px;
  height: 100%;
}

.contact-about-area .thumbnail {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  transition: 700ms;
}

.contact-about-area .thumbnail:hover {
  transform: scale(1.02);
}

.contact-about-area .thumbnail img {
  width: 100%;
  height: auto;
  transition: 700ms;
}

.contact-about-area .title-area {
  margin-bottom: 15px;
}

.contact-about-area .title-area .title {
  font-size: 26px;
  line-height: 44px;
  color: #1e2125;
}

.contact-about-area .title-area .subtitle {
  color: #3c3e41;
  opacity: 0.9;
}

.contact-about-area .description {
  margin-bottom: 39px;
}

.contact-about-area .description .available {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  margin-bottom: 20px;
}

.contact-about-area .description .phone,
.contact-about-area .description .mail {
  display: block;
}

.contact-about-area .description .phone a,
.contact-about-area .description .mail a {
  transition: 700ms;
  position: relative;
  font-weight: 400;
  color: #3c3e41;
  text-decoration: none;
}

.contact-about-area .description .phone a:hover,
.contact-about-area .description .mail a:hover {
  color: #ce8262 !important;
  text-decoration: underline;
  transition: 700ms !important;
}

.contact-about-area .social-area .title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.contact-about-area .social-area .social-icon {
  margin-top: 24px;
}

.social-btn {
  height: 61px !important;
  width: 61px !important;
  padding: 0 !important;
  font-size: 18px !important;
}

.contact-form-wrapper {
  background: linear-gradient(145deg, #e2e8ec, #ffffff) !important;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff !important;
  padding: 30px;
  border-radius: 10px;
  margin-left: 20px;
  height: 100%;
}

.contact-form-wrapper .introduce{
  display: flex;
  justify-content: space-between;
}

.contact-form-wrapper .introduce .row{
  margin-right: -15px;
  margin-left: -15px;
}

.contact-form-wrapper .introduce .row > [class*=col]{
  padding-left: 15px;
  padding-right: 15px;
}
.contact-form-wrapper .introduce .row div .form-group{
  margin-bottom: 20px;
}

.contact-form-wrapper label{
  color:#3c3e41;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
  margin-bottom: 14px;
  text-align: left;
  display: block;
}

.contact-form-wrapper input, .contact-form-wrapper textarea{
  background-color: #fdfefe;
  border: 2px solid #dadada;
  font-family: "Montserrat", sans-serif !important;
  color: #3c3e41;
  box-shadow: none !important;
  border-radius: 6px !important;
  padding: 0 15px !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
}

.contact-form-wrapper input{
  height: 55px;
}

.contact-form-wrapper input:focus, .contact-form-wrapper textarea:focus{
  border-color:#ce8262;
}

.contact-form-wrapper .introduce input{
  width: 100% !important;
}

.contact-form-wrapper .contact-btn{
  width: 100%;
}

.alert{
  margin:0 !important;
  padding: 0 !important;
  margin-bottom:30px !important;
}

.alert-dismissible{
  padding-right: 0 !important;
}

@media only screen and (min-width:992px) and (max-width:1199px){
  .contact-about-area{
    height: auto;
  }
}

@media only screen and (min-width:768px) and (max-width: 991px){
  .contact-about-area{
    margin-bottom: 50px;
    height: auto;
  }
}

@media only screen and (max-width:767px) {
  .contact-about-area{
    margin-bottom: 0;
    padding: 50px 20px;
    height: auto;
  }

  .contact-input{
    padding-bottom: 30px;
  }

  .contact-form-wrapper{
    margin:0;
    margin-top:40px;
  }
}