@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
*{
  margin:0;
  padding:0;
}
body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f3 !important;
}